<main>
    <h1>noticias de hector fonseca</h1>
      <h2>Nam nunc leo, ullamcorper sed pulvinar eu, auctor vel ipsum. Maecenas facilisis ac nulla at dapibus. Sed venenatis tellus vel nulla aliquam, sed elementum est iaculis. Aenean sed eros at tortor molestie luctus quis sit amet elit. Mauris vitae cursus dolor, non dapibus nisi. Curabitur vulputate finibus felis nec hendrerit. Proin metus tortor, egestas nec nisi venenatis, semper auctor tellus. Vestibulum eget turpis at enim varius dictum. Aenean tincidunt nulla et tellus aliquam euismod. Quisque vulputate commodo purus a blandit. Donec posuere quam nec augue aliquam, in rhoncus ligula blandit.</h2>
    </main>
    